.Reveal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    background-color: white;
    border-radius: 15px;
    max-width: calc(30vw - 15px);
    border: none;
    padding: 7px;
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 1.8rem;
}