button {
	margin: 10px;
    font-size: 1.5rem;
	padding: 15px;
    font-family: 'Arvo', 'arial';
    background-color: rgb(54, 202, 54);
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px rgb(116, 115, 115);
}

input {
	margin: 10px;
    font-size: 1.5rem;
	padding: 15px;
    font-family: 'Arvo', 'arial';
    border-radius: 25px;
    border: none;
	text-align: center;
    box-shadow: 0 5px rgb(116, 115, 115);
}

input:focus {
	border: 5px solid #4abef3;
	outline: none;
	margin: 5px;
}

h1, h2 {
	text-align: center;
}

button:hover {
    background-color: rgb(25, 160, 25);
}

button:active {
    transform: translateY(4px);
    background-color: green;
    box-shadow: 0 1px #999999;
}

.App {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: calc(100vh - 40px);
}